/*html,body{
    background-color: blue;
}*/
B{
    font-size:30px;
}
.moded{
    float: right;
}
.followers{
display: inline;


}
.f,.t,.h,.y{
    height: 100px;
    width: 50px;
    background-color: brown;
    border-radius: 40px;
    border-style: dashed;
 padding: 100px; 
 margin: 10px;

}
